@import "tailwindcss";

:root {
  --background: #f4a261;
  --hovered-background: #f7af75;
  --foreground: #171717;
}

body {
  background: #fff;
  color: var(--foreground);
}

.custom-grid-template {
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
